/* Wrapper container for the entire layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Left column container */
  .left-column {
    width: 48%;
    display: inline-block;
    float: left;
  }
  
  /* Right column container */
  .right-column {
    width: 48%;
    display: inline-block;
    float: right;
  }
  
  /* Board configuration section */
  .board-section {
    margin-bottom: 20px;
  }
  
  /* Metamaterial configuration section */
  .metamaterial-section {
    margin-bottom: 20px;
  }
  
  /* Scan configuration section */
  .scan-section {
    margin-bottom: 20px;
  }
  
  /* Section title */
  .section-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Input fields */
  .input-field {
    margin-bottom: 10px;
  }
  
  /* Run button */
  .run-button {
    margin-top: 10px;
  }
  
  /* Heatmap container */
  .graphs-container {
    margin-top: 20px;
  }
  
  /* Heatmap title */
  .heatmap-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Heatmap graph */
  .heatmap-graph {
    width: 100%;
  }
  
  .input-field {
    margin-left: 5px;
    margin-right: 5px;
    width: 15%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .dash-dropdown {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 15%;
    display: inline-block;
  }

/* CSS */
#run {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

#run:disabled {
  cursor: default;
}

#run:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.graphs-container {
  display: flex;
  flex-direction: column;
}

.heatmap-container, .fft-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heatmap-graph, .fft-graph {
  width: 90%;
}

.heatmap-caxis-slider, .fft-caxis-slider {
  width: 10%;
  /* margin-left: 8px; */
}
